# https://gist.github.com/bilalsh/1c35d70220fcceaf14adba1e6037e8de
# https://gist.github.com/JamesMGreene/f4b01ff4a2f8e6faead1
# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]

# Change these settings to your own preference
indent_style = space
indent_size = 2

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false


###############################################################################


# Different formats supported by editorconfig

# Matches every file
# [*]

# Matches multiple files with brace expansion notation
# [*.{js,py}]

# Indentation override for all JS under lib directory
# [lib/**.js]

# Matches the exact files either package.json or .travis.yml
# [{package.json,.travis.yml}]


###############################################################################


#    Wildcard Patterns
#
#    Special characters recognized in section names for wildcard matching:
#
#    *     Matches any string of characters, except path separators (/)
#    **    Matches any string of characters
#    ?     Matches any single character
#    [name]      Matches any single character in name
#    [!name]     Matches any single character not in name
#    {s1,s2,s3}  Matches any of the strings given (separated by commas) (Available since EditorConfig Core 0.11.0)
#    {num1..num2}      Matches any integer numbers between num1 and num2, where num1 and num2 can be either positive or negative
#    Special characters can be escaped with a backslash so they won't be interpreted as wildcard patterns.


###############################################################################