nav.navbar.navbar-expand-lg.bg-dark(data-bs-theme="dark", style="color:white;")
  .container-fluid
    a.navbar-brand(href='/') Todo-txt-stats
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='https://github.com/mindcrazyapps/todo-txt-stats/') GitHub
        li.nav-item
          a.nav-link.active(aria-current='page' href='https://todo-txt-stats.netlify.app/') API
        li.nav-item
          a.nav-link(href='https://docs-todo-txt-stats.netlify.app/') Docs