<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo-txt-stats</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        #uploadForm{
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
        }
        input.btn{
            flex: 0.8;
        }
        button.btn{
            flex: 0.15;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="files"
            class="btn btn-primary" id="file"
            multiple>
            <button class="btn btn-primary" type="submit" style="border-radius: 4px;">
                Upload
            </button>
        </form>
    </div>
    <script type="text/javascript">
        document.getElementById("file").value = "";
    </script>
<div>
    <canvas id="render-todo-txt-stats"></canvas>
  </div>  
  <script>
    const ctx = document.getElementById('render-todo-txt-stats');
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
<!--
<html>
	<body>
		<form ref='uploadForm' 
			id='uploadForm' 
			action='/upload' 
			method='post' 
			encType="multipart/form-data">
				<input type="file" name="sampleFile" />
				<input type='submit' value='Upload!' />
		</form>		
	</body>
</html>
-->
</body>
</html>
